* {
    font-family: 'Inter', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
    background-color: rgba(243, 244, 246, 0.3);
    backdrop-filter: blur(10px);
    padding: 0 150px 0 150px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
    border-bottom: 1px solid #8f8f91;
}

main {
    padding: 85px 150px 0 150px;
}

main h1 {
    font-weight: bold;
}



#categorias-btn {
    display: flex;
    align-items: center;
    gap: 6px;
    background: transparent;
    border: none;
    cursor: pointer;
    color: black;
    font-size: 12px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
    
}

#cerrar-sesion-btn {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: #cd0f2e;
    color: white;
    padding: 8px 16px;
    border-radius: 999px;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
}

#login-btn:hover {
    background-color: #a50d24;
    transition: background-color 0.2s ease;
}

#brand a{
    display: flex;
    align-items: center;
    gap: 20px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 14px;
}

#brand-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cd0f2e;
    height: 25px;
    width: 25px;
    border-radius: 25%;
}

#brand-icon i {
    color: white;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 35px;
    display: flex;
    font-size: 12px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
}



.dropdown {
    display: none;
    position: absolute;
    background-color: white;
    border-radius: 15px;
    padding: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    min-width: 100px;
}

.dropdown li {
    margin: 0;
    padding: 0;
}

#categorias-li {
    position: relative;
}

.dropdown li a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px;
    text-decoration: none;
    color: black;
    font-size: 12px;
    
}

.dropdown li a:hover {
    background-color: #f3f4f6;
    border-radius: 8px;
}

.dropdown-active {
    display: flex;
    flex-direction: column;
    margin: 0;
}

#buscador {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 400px;
    gap: 8px;
    border-radius: 12px;
    background-color: rgba(229, 231, 235, 0.6);
    padding: 6px 12px;
    
}

#buscador input {
    background-color: transparent;
    border: none;
    outline: none;
    flex: 1;
    font-size: 12px;
    color: gray;
}

#buscador i {
    color: gray;
    font-size: 12px;
}

#opciones-div {
    display: flex;
    align-items: center;
    gap: 36px;
}

#seguir-comprando-btn {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    font-size: 12px;
    color: black;
    cursor: pointer;
}

#carrito-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cantidad-productos {
    font-size: 12px;
    color: #8f8f91;
}

#carrito-main-div {
    display: flex;
    gap: 8px;
    align-items: flex-start;
}

#carrito-grid {
    display: flex;
    overflow-y: auto;
    max-height: 500px;
    scrollbar-width: none;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}

#resumen-pedido-div {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    border:1px solid #e2e8f0;
    width: 350px;
    
    padding: 24px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
    gap: 8px;
}

#resumen-pedido-div h2 {
    font-size: 16px;
}

#resumen-pedido-extra {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


#monto-span, #monto-total-span{
    color: black !important;
    font-weight: bold;
}

#gratis-span {
    color: #cd0f2e !important;
}

#resumen-pedido-extra span {
    font-size: 12px;
    color: #8f8f91;
}

#subtotal-div {
    display: flex;
    justify-content: space-between;
}

#envio-div {
    display: flex;
    justify-content: space-between;
}

#total-div {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
}

#resumen-pedido-div button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    gap: 8px;
    background-color: #cd0f2e;
    color: white;
    font-weight: bold;
    padding: 12px 16px;
    border-radius: 999px;
    font-size: 12px;
    border: none;
    cursor: pointer;
}


#resumen-pedido-footer {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#resumen-pedido-footer i {
    color: #cd0f2e;
}

#seguridad-div, #entrega-div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    font-size: 12px;
}

#vaciar-carrito-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    background: transparent;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    padding: 8px;
    font-size: 12px;
    
}

#vaciar-carrito-btn:hover {
    background-color:#e2e8f0;
    transition: background-color 0.2s ease;
}

.nuevo-articulo {
    display: flex;
    padding: 12px;
    border:1px solid #e2e8f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    gap: 16px;
}

.imagen-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagen-div img {
    width: 100px;
    height: 100px;
    border-radius: 12px;
}

.info-div {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.info-header p{
    text-transform: uppercase;
    font-size: 10px;
    color: gray;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.info-div h3 {
    font-size: 16px;
}

.numeros-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.mas-menos-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    padding: 8px;
    width: 70px;
    height: 10px;
    border:1px solid #e2e8f0;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
}

.mas-menos-div span, .mas-menos-div i {
    font-size: 12px;
}

.mas-menos-div button {
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 4px;
}

.mas-menos-div button:hover {
    background-color: #f3f4f6;
    border-radius: 8px;
}

.precio-eliminar-div {
    display: flex;
    gap: 30px;
}

.precio-eliminar-div p {
    font-weight: bold;
}

.precio-eliminar-div button {
    display: flex;
    width: 50px;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    cursor: pointer;
}

.precio-eliminar-div button:hover {
    background-color: #f3f4f6;
    border-radius: 8px;
}